/*
@import url('./styling/pagefont.css');
*/

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(0, 0);
    }
}


@keyframes enablingActionButtonAnimation {
    from {
        opacity: 0.3
    }
    to {
        opacity: 1;
    }
}


@keyframes disablingActionButtonAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}




html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#toolbar {
  position: fixed;
  z-index: 1;
  width: 97.5%; /* 97.5 + 2 + 0.5 as paddings */
  height: 70px;
  
  padding-left: 2%;
  padding-right: 0.5%;
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  
  background-color: #2196f3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#toolbaranim {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 60px;
  height: 60px;
}

#toolbartitle {
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-family: 'Alexandria', sans-serif;
  font-size: 0.85em;
}

#toolbarspacer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 100%;
}

#toolbarsearchbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
}

#toolbarsearchbutton:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100%;
}

#toolbarsearchicon {
  margin-top: auto;
  margin-bottom: auto;
}

.styledtext {
  font-family: 'Alexandria', sans-serif;
  font-size: 0.75em;
  width: fit-content;
  min-width: 150px;
  text-align: right;
  direction: rtl;
  padding: 10px;
}

.inputfield {
  display: grid;
  direction: rtl;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  backdrop-filter: blur(10px);
}

#toolbarsearchfield {
  opacity: 0;
  pointer-events: none;
  border: 3px dashed white;
  background: rgba(255, 255, 255, 0.2);
}

.newitemfield {
  border: 3px dashed black;
  background: rgba(0, 0, 0, 0.2);
}

.inputhint {
  grid-area: 1/1;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 0;
}

#toolbarsearchhint {
  color: rgba(255, 255, 255, 0.7);
}

.newitemhint {
  color: rgba(0, 0, 0, 0.7);
}

.input {
  grid-area: 1/1;
  white-space: nowrap;
  direction: rtl;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-color: transparent;
  z-index: 1;
}

#toolbarsearchinput {
  color: white;
}

.newiteminput {
  color: black;
}

.input:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

#mainlayout {
  position: relative;
  top: 70px;
  width: -moz-fit-content;
  width: fit-content;
  height: calc(96% - 70px);
  padding: 2%;
  padding-top: calc(2% + 50px);
}

#datatable {
  float: right;
  border-spacing: 5px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

#datatablehead {
  position: sticky;
  top: 80px;
  z-index: 1;
}

#datatableheadlayerscontainer {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
}

#buttonslayerofdatatablehead {
  position: fixed;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-100%);
}

#titleslayerofdatatablehead {
  order: 4;
}

#newitemslayerofdatatablehead {
  order: 5;
}

.actionbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #2196f3;
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
}

.actionbutton:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  background: #86C5F6;
}

.actionbuttonicon {
  margin-top: auto;
  margin-bottom: auto;
}

#upbutton {
  opacity: 0.3;
  pointer-events: none;
}

#upbuttonicon {
  
}

.tabletitleitem {
  font-family: 'Alexandria', sans-serif;
  font-size: 0.8em;
  color: #2196f3;
  border: 3px dashed #2196f3;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  text-align: right;
  padding: 10px;
}

.tabletitleitem:hover {
  color: white;
  background: #2196f3;
  transform: scale(1.03, 1.03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.tabledataitem {
  font-family: 'Alexandria', sans-serif;
  font-size: 0.8em;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  text-align: right;
  direction: rtl;
  padding: 10px;
}

.tabledataitem:hover {
  color: white;
  border-radius: 5px;
  background: black;
  transform: scale(1.03, 1.03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.fab {
  position: fixed;
  right: 15px;
  bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  background: #2196f3;
  width: fit-content;
  height: 70px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.fab:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  background: #86C5F6;
}

.fabtext {
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-family: 'Alexandria', sans-serif;
  font-size: 0.85em;
}

.fabicon {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
}