@import url('./styling/pagefont.css');


@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(0, 0);
    }
}

@keyframes enablingActionButtonAnimation {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}


@keyframes disablingActionButtonAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}



@keyframes bodyLightThemeAnimation {
    from {
        filter: invert(1) contrast(1) saturate(1) hue-rotate(180deg);
    }
    to {
        filter: none;
    }
}

@keyframes bodyDarkThemeAnimation {
    from {
        filter: none;
    }
    to {
        filter: invert(1) contrast(1) saturate(1) hue-rotate(180deg);
    }
}


@keyframes toolbarLightThemeAnimation {
    from {
        filter: invert(1) hue-rotate(180deg);
    }
    to {
        filter: invert(0) hue-rotate(0deg);
    }
}

@keyframes toolbarDarkThemeAnimation {
    from {
        filter: invert(0) hue-rotate(0deg);
    }
    to {
        filter: invert(1) hue-rotate(180deg);
    }
}


html {
  filter: invert(1) contrast(1) saturate(1) hue-rotate(180deg);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

#toolbar {
  position: fixed;
  z-index: 1;
  width: 97.5%; /* 97.5 + 2 + 0.5 as paddings */
  height: 70px;
  
  padding-left: 2%;
  padding-right: 0.5%;
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  
  background-color: #2196f3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  
  filter: invert(1) hue-rotate(180deg);
}

#toolbaranim {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 60px;
  height: 60px;
}

#toolbartitle {
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-family: 'Alexandria', sans-serif;
  font-size: 0.85em;
  user-select: none;
}

#toolbarspacer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 100%;
}

.toolbarbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
}

.toolbarbutton:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100%;
}

.toolbaricon {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  user-select: none;
}

.styledtext {
  font-family: 'Alexandria', sans-serif;
  font-size: 1.0em;
  width: fit-content;
  min-width: 150px;
  text-align: right;
  direction: rtl;
  padding: 10px;
  user-select: none;
}

.inputfield {
  display: grid;
  direction: rtl;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

#toolbarsearchfield {
  opacity: 0;
  pointer-events: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px dashed white;
  background: rgba(255, 255, 255, 0.2);
}

.newitemfieldcontainer {
  border: 3px dashed black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
}

.newitemfield {
  display: table-cell;
  background: white;
  backdrop-filter: blur(10px);
}

.inputhint {
  grid-area: 1/1;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 0;
  user-select: none;
}

#toolbarsearchhint {
  color: rgba(255, 255, 255, 0.7);
}

.newitemhint {
  color: rgba(0, 0, 0, 1);
}

.input {
  grid-area: 1/1;
  white-space: nowrap;
  word-wrap: break-word;
  overflow-x: scroll;
  width: 92%;
  margin-top: auto;
  margin-bottom: auto;
  border-color: transparent;
  z-index: 1;
}

.input::-webkit-scrollbar {
  display: none;
}

#newrenewingstartdateiteminput {
  direction: ltr;
  position: relative;
}

#newphonenumberiteminput {
  direction: ltr;
}

#newworknumberiteminput {
  direction: ltr;
}

#newniniteminput {
  direction: ltr;
}

#newcardnumberiteminput {
  direction: ltr;
}

#newcardissuingdateiteminput {
  direction: ltr;
  position: relative;
}

#newcardexpiredateiteminput {
  direction: ltr;
  position: relative;
}

#newbirthdateiteminput {
  direction: ltr;
  position: relative;
}

#newbirthcertificatenumberiteminput {
  direction: ltr;
}


#toolbarsearchinput {
  color: white;
}

.newiteminput {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.input:focus {
  outline: 5px;
  border-radius: 5px;
  outline-color: #2196f3;
  outline-style: dotted;
}

.newlyaddeditem {
  filter: invert(35%);
  backdrop-filter: sepia(100%);
}

.hamzaitem {
  background: #2196f3;
}

#mainlayout {
  position: relative;
  top: 110px;
  width: -moz-fit-content;
  width: fit-content;
  height: calc(96% - 70px);
  padding: 2%;
  padding-top: calc(2% + 50px);
}

#datatable {
  float: right;
  border-spacing: 5px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

#datatablehead {
  position: sticky;
  top: 80px;
  border-radius: 5px;
  z-index: 7;
}

.stickyitem {
  position: sticky;
  right: 0px;
  background-color: white;
}

#tabletitlenameitem {
  z-index: 1;
}

#datatablebody {
  
}

#datatableheadlayerscontainer {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
}

#buttonslayerofdatatablehead {
  position: fixed;
  width: 97.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-100%);
  z-index: 6;
}

#buttonslayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pageindexhintcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pageindexhint {
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

#titleslayerofdatatablehead {
  
}

#newitemslayerofdatatablehead {
  
}

.actionbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #2196f3;
  border-radius: 100%;
  backdrop-filter: blur(10px);
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
}

.actionbutton:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  background: #86C5F6;
}

.actionbuttonicon {
  margin-top: auto;
  margin-bottom: auto;
  user-select: none;
}

#upbutton {
  opacity: 0.3;
  pointer-events: none;
}

#upbuttonicon {
  
}

.tabletitleitem {
  font-family: 'Alexandria', sans-serif;
  font-size: 1.2em;
  color: #2196f3;
  border: 3px dashed #2196f3;
  border-radius: 5px;
  
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  text-align: right;
  padding: 10px;
  user-select: none;
}

.tabletitleitem:hover {
  color: white;
  background: #2196f3;
  transform: scale(1.03, 1.03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.tabledataitem {
  font-family: 'Alexandria', sans-serif;
  font-size: 1.0em;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  text-align: right;
  direction: rtl;
  padding: 10px;
}

.tabledataitem:hover {
  color: white;
  border-radius: 5px;
  background: black;
  transform: scale(1.03, 1.03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


#fabscontainer {
  position: fixed;
  right: 15px;
  bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  z-index: 2;
}


.fab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  background: #2196f3;
  backdrop-filter: blur(10px);
  width: fit-content;
  height: 70px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.fab:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  background: #86C5F6;
}

#realfab {
  margin-left: 20px;
}

#donefab {
  opacity: 0;
  transform: scale(0, 0);
}

.fabtext {
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-family: 'Alexandria', sans-serif;
  font-size: 0.85em;
  user-select: none;
}

.fabicon {
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  user-select: none;
}


#loadingscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0, 0);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  cursor: wait;
}

#loadinganim {
  width: 100%;
  height: 250px;
}

#loadingtext {
  left: auto;
  font-size: 1.5em;
  user-select: none;
}


.statusdataitem {
}

.statusdataitem:hover {
  color: black;
}


#messageboxcontainer {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

#messagebox {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0, 0);
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 10px;
  background: black;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#messageboxtextlayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

#messagedialogbuttonslayout {
  margin-top: 20px;
}

#messageboxicon {
  color: white;
}

#messageboxtext {
  color: white;
  font-size: 1em;
  white-space: pre;
  word-wrap: break-word;
  user-select: auto;
}


#dialogcontainer {
  pointer-events: auto;
  transform: scale(0, 0);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: rgba(255, 255, 255, 0.7);
}

#dialogbox {
  pointer-events: all;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: black;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.dialoghorlayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dialogboxicon {
  color: white;
}

#dialogboxtitle {
  color: white;
  font-size: 1.5em;
}

#dialogboxinput {
  color: black;
  background: white;
  font-size: 1em;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 350px;
  min-height: 150px;
  padding: 20px;
  scroll-padding: 20px;
}

.dialogbutton {
  color: black;
  background: white;
  border-radius: 20px;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.3);
}

.dialogbutton:hover {
  color: white;
  background: black;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

#cancelbutton {
  margin-right: 5px;
}

.redflageditem {
  background-color: #FF5050;
}